.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #2f3136;
  max-width: 100%;
}

input {
  height: 30px;
  width: 300px;
  border: 0;
  border-bottom: 1px solid whitesmoke;
  color: white;
  background: none;
  padding: 0 10px;
  outline: none;
}

.enter {
  width: 100px;
  height: 30px;
  font-size: 12px;
  background: none;
  border: 1px solid whitesmoke;
  color: whitesmoke;
  margin-left: 10px;
}

.enter:hover {
  background: whitesmoke;
  color: #2f3136;
  cursor: pointer;
}

.todo__item {
  position: absolute;
  cursor: move;
  min-width: 215px;
  color: #000;
  padding: 1em;
  border-radius: 5px;
}

.delete {
  position: absolute;
  right: 5px;
  top: 5px;
  background: none;
  border: none;
}

.delete:hover {
  color: darkred;
  cursor: pointer;
}